header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.headerLogo {
  width: 96px;
  height: 43px;
}

.languageSwitcher {
}

.contactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 60px;
  width: 130px;
  height: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-transform: lowercase;
  cursor: pointer;
  overflow: hidden;
  color: var(--neutral-white);
  background-color: var(--neutral-black-800);
}

.languageAndContactContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
